
body {
    margin: 0;
    padding: 0;
}

#content {
    width: 100%;
    font-family: 'Oleo Script', cursive;
}

header {
    width: 100%;
    background-color: #F5F5F5;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 15px 0;
}

.logo {
    padding: 10px;
    margin-left: 30px;

    color: #2EB086;
    font-size: 28px;
    font-weight: 700;
}

.links {
    display: flex;
    flex-direction: row;
    gap: 20px;

    padding: 15px;
    margin-right: 60px;
    color: #2EB086;
}

.btn-nav {
    background-color: #F5F5F5;
    color: #2EB086;
    outline: none;
    border: none;

    font-size: 20px;
    font-weight: 700;
    font-family: 'Oleo Script', cursive;
}

.btn-nav:hover {
    border-bottom: 3px solid #2EB086;
    cursor: pointer;
}

.first-section {
    background:  no-repeat url('./assets/bg-img.jpg');
    background-size: contain;
    width: 100%;
    position: relative;
}

.center-fit {
    width: 100%;
}

.first-section .card {
    position: absolute;
    left: 10%;
    top: 20%;

    max-width: 40%;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    padding: 15px;
}

.first-section .card .title {
    font-weight: 600;
    font-size: 38px;
    color: #2EB086;
}

.card button {
    height: 50px;

    background-color: #2EB086; /* Green */
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Oleo Script', cursive;
    letter-spacing: 2px;
}

.first-section h2.title {
    margin: 0;
    font-size: 28px;
    font-weight: 800;
}

.second-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-color: #F5F5F5;
    padding: 25px;
}

.second-section .card-section {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 0.8fr));
    gap: 30px;
}

.second-section-title {
    font-weight: 800;
    font-size: 32px;
    color: #DAB88B;
}

.card-section .info-card {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
}

.info-card .card-title {
    text-align: center;
    color: #2EB086;
    font-weight: 700;
    font-size: 20px;
}

.info-card .card-text {
    text-align: center;
}

.card-section .info-card .card-img {
    width: 300px;
    height: 300px;
}

/* Footer */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: rgba(0, 0, 0, 1);
    width: 100%;

    padding-top: 10px;
    padding-bottom: 10px;
}

footer .link {
    text-decoration: none;
    color: #2EB086;
    font-size: 16px;
    
}

/* MENU Page */
.menu {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.menu .menu-title h1 {
    font-size: 40px;
    text-align: center;
    color: #2EB086;
}

.menu .card-carousel {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 5px;
}

/* Product Cards */
.product-card {
    position: relative;
    width: 320px;
    height: 420px;
    background: #DAB88B;
    border-radius: 20px;
    overflow: hidden;
}

.product-card::before {
    content: '';
    position: absolute;
    top: -50%;
    width: 100%;
    height: 100%;
    background: #F3E9DD;
    transform: skewY(345deg);
    transition: 0.5s;
}

.product-card:hover::before {
    top: -70%;
    transform: skewY(390deg);
}

.product-card::after{
    content: 'Coffee';
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: 600;
    font-size: 8em;
    color: rgba(0,0,0,0.1);
}

.product-card .imgBox {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.product-card .imgBox img {
    max-width: 100%;
    transition: 0.5%;
}

.product-card:hover .imgBox img {
    max-width: 50%;
    height: 200px;
    padding-top: 20px;
}

.product-card .contentBx {
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}

.product-card .contentBx h3 {
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.product-card .contentBx .price {
    font-size: 24px;
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
}

.product-card .contentBx .buy {
    position: relative;
    top: 200px;
    opacity: 0;
    padding: 10px 30px;
    color: #fff;
    text-decoration: none;
    background: #2EB086;
    border-radius: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.5%;
}

.product-card:hover .contentBx .buy {
    top: 0;
    opacity: 1;
}

/* Contact Page */
.contact .contact-heading  {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-heading {
    background: url('./assets/contact-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    position: relative;
}

.contact-img {
    width: 100%;
}

.contact-heading div {
    position: absolute;
    top: 30%;
    font-size: 50px;
    border: 5px solid #fff;
    padding: 10px;
    color: #2EB086;
    font-weight: 600;
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;
}

.contact .contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-info .contact-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
}

.contact-info {
    background-color: rgba(0, 0, 0, 0.9);
    padding: 25px;
}

.contact-info h3 {
    color: #2EB086;
    font-size: 24px;
    letter-spacing: 2px;
}

.contact-cards .contact-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    padding: 20px;
    width: 200px;
    height: 150px;
    text-align: center;
}

.contact-div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-div div {
    color: #2EB086;
    font-size: 18px;
}

.contact-div.bd-r {
    border-right: 2px solid #2EB086;
}

.contact-div p {
    margin: 0;
}

.contact-info .contact-cards .contact-div img {
    width: 25px;
    height: 30px;
}

.contact .map {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
}

.contact .map iframe {
    height: 100%;
}

